cluster:
  type: postgresql
  mode: standalone

  cluster:
    imageName: registry.crowleybrynn.com/ghcr-proxy/cloudnative-pg/postgresql:17
    instances: 2
    postgresql:
      parameters:
        shared_buffers: "256MB"
        pg_stat_statements.max: "10000"
        pg_stat_statements.track: "all"
        auto_explain.log_min_duration: "10s"
      pg_hba:
        - "host all all 10.245.0.0/16 md5"
      shared_preload_libraries:
        - "pg_stat_statements"
    storage:
      size: "5Gi"
      storageClass: "longhorn-2-replica"
    affinity:
      enablePodAntiAffinity: true
      podAntiAffinityType: "preferred"
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "node-role.kubernetes.io/control-plane"
                  operator: DoesNotExist
    primaryUpdateStrategy: "unsupervised"
    additionalLabels:
      app: "conduit"
    initdb:
      database: "conduit"
      owner: "conduit"
  backups:
    enabled: true
    provider: "s3"
    retentionPolicy: "30d"
    target: "prefer-standby"
    s3:
      bucket: "cnpg-backups"
      path: "/conduit"
    endpointURL: "https://minio.crowleybrynn.com"
    secret:
      create: false
      name: "minio-cnpg-conduit-backups"
    data:
      compression: "gzip"
      encryption: ""
      jobs: 2
    wal:
      compression: "gzip"
      encryption: ""
      max_parallel: 2
    scheduledBackups:
      - name: "daily-backup"
        backupOwnerReference: "none"
        method: "barmanObjectStore"
        schedule: "0 0 2 * * *"
        target: "prefer-standby"

redis:
  image:
    registry: registry.crowleybrynn.com
    repository: library/redis
    tag: 8.2.1
  architecture: replication

  auth:
    enabled: true
    sentinel: true
    existingSecret: "redis-credentials"
    existingSecretPasswordKey: "password"

  master:
    podAffinityPreset: ""
    podAntiAffinityPreset: ""
    nodeAffinityPreset:
      type: ""
      key: ""
      values: []

    # Then set custom affinity
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: redis
                app.kubernetes.io/component: node
            topologyKey: kubernetes.io/hostname
      podAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: dashboard
                  app.kubernetes.io/component: application
              topologyKey: kubernetes.io/hostname
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "node-role.kubernetes.io/control-plane"
                  operator: DoesNotExist

    disableCommands:
      - FLUSHDB
      - FLUSHALL
    resourcesPreset: "nano"
    persistence:
      enabled: true
      size: 2Gi
      storageClass: longhorn-1-replica
      accessModes:
        - ReadWriteOnce

  replica:
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: redis
                app.kubernetes.io/component: node
            topologyKey: kubernetes.io/hostname
      podAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: dashboard
                  app.kubernetes.io/component: application
              topologyKey: kubernetes.io/hostname
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "node-role.kubernetes.io/control-plane"
                  operator: DoesNotExist
    replicaCount: 3
    disableCommands:
      - FLUSHDB
      - FLUSHALL
    resourcesPreset: "nano"
    persistence:
      enabled: true
      size: 2Gi
      storageClass: longhorn-1-replica
      accessModes:
        - ReadWriteOnce

  sentinel:
    image:
      registry: registry.crowleybrynn.com
      repository: library/redis-sentinel
      tag: 8.2.1
    enabled: true
    quorum: 2
    downAfterMilliseconds: 30000
    failoverTimeout: 180000

  networkPolicy:
    enabled: true
    allowExternal: true

  metrics:
    enabled: false

deployment:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1

  labels:
    app.kubernetes.io/name: conduit
    app.kubernetes.io/component: application
  annotations: {}
  podAnnotations:
    profiles.grafana.com/cpu.scrape: "true"
    profiles.grafana.com/cpu.port: "9000"
    profiles.grafana.com/cpu.path: "/debug/pprof/profile"
    profiles.grafana.com/memory.scrape: "true"
    profiles.grafana.com/memory.port: "9000"
    profiles.grafana.com/memory.path: "/debug/pprof/heap"
    profiles.grafana.com/goroutine.scrape: "true"
    profiles.grafana.com/goroutine.port: "9000"
    profiles.grafana.com/goroutine.path: "/debug/pprof/goroutine"
    profiles.grafana.com/allocs.scrape: "true"
    profiles.grafana.com/allocs.port: "9000"
    profiles.grafana.com/allocs.path: "/debug/pprof/allocs"
    prometheus.io/scrape: "true"
    prometheus.io/port: "9000"
    prometheus.io/path: "/metrics"
  image:
    repository: "ghcr.io/crowley723/dashboard-site"
    tag: "prod"
    pullPolicy: "Always"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: "node-role.kubernetes.io/control-plane"
                operator: DoesNotExist
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: conduit
          topologyKey: kubernetes.io/hostname
        - labelSelector:
            matchLabels:
              cnpg.io/cluster: conduit-cluster
          topologyKey: kubernetes.io/hostname


  container:
    name: "dashboard"
    #    command: [ "sleep" ]
    #    args: [ "infinity" ]

    envFrom:
      - secretRef:
          name: dashboard-secrets
    env:
      - name: DASHBOARD_REDIS_PASSWORD
        valueFrom:
          secretKeyRef:
            name: redis-credentials
            key: password
      - name: DASHBOARD_REDIS_SENTINEL_PASSWORD
        valueFrom:
          secretKeyRef:
            name: redis-credentials
            key: password
      - name: DASHBOARD_STORAGE_HOST
        valueFrom:
          secretKeyRef:
            name: conduit-cluster-app
            key: host
      - name: DASHBOARD_STORAGE_PORT
        valueFrom:
          secretKeyRef:
            name: conduit-cluster-app
            key: port
      - name: DASHBOARD_STORAGE_USERNAME
        valueFrom:
          secretKeyRef:
            name: conduit-cluster-app
            key: username
      - name: DASHBOARD_STORAGE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: conduit-cluster-app
            key: password
      - name: DASHBOARD_STORAGE_DATABASE
        valueFrom:
          secretKeyRef:
            name: conduit-cluster-app
            key: dbname
      - name: DASHBOARD_FIREWALL_ROUTER_ENDPOINT
        valueFrom:
          secretKeyRef:
            name: dashboard-secrets
            key: DASHBOARD_FIREWALL_ROUTER_ENDPOINT
            optional: true
      - name: DASHBOARD_FIREWALL_ROUTER_API_KEY
        valueFrom:
          secretKeyRef:
            name: dashboard-secrets
            key: DASHBOARD_FIREWALL_ROUTER_API_KEY
            optional: true
      - name: DASHBOARD_FIREWALL_ROUTER_API_SECRET
        valueFrom:
          secretKeyRef:
            name: dashboard-secrets
            key: DASHBOARD_FIREWALL_ROUTER_API_SECRET
            optional: true

    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 0m
        memory: 0Mi

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: http
  additionalPorts:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: debug

ingressRoute:
  enabled: true
  entryPoints:
    - websecure
  routes:
    - match: "Host(`crowleybrynn.com`) || Host(`www.crowleybrynn.com`)"
      servicePort: 80
      priority: 10
  tls:
    secretName: tls-wildcard-crowleybrynn-com

  tcpRoute:
    enabled: false

configMap:
  generate: true
  key: "config.yaml"

config:
  server:
    port: 8080
    debug:
      enabled: true
      host: 0.0.0.0
      port: 9000

  distributed:
    enabled: true
    ttl: "30s"

  redis:
    address: "dashboard-redis.dashboard-site.svc.cluster.local:6379"
    session_index: 0
    cache_index: 1
    leader_index: 2
    sentinel:
      master_name: mymaster
      addresses:
        - "dashboard-redis-node-0.dashboard-redis-headless.dashboard-site.svc.cluster.local:26379"
        - "dashboard-redis-node-1.dashboard-redis-headless.dashboard-site.svc.cluster.local:26379"
        - "dashboard-redis-node-2.dashboard-redis-headless.dashboard-site.svc.cluster.local:26379"

  features:
    mtls_management:
      enabled: true
      auto_approve_admin_requests: true
      allow_admins_to_approve_own_requests: true
      kubernetes:
        namespace: 'conduit'
      certificate_issuer:
        name: "selfsigned-issuer"
        kind: "ClusterIssuer"
      certificate_subject:
        organization: "CrowleyBrynn Homelab"
        country: "United States"
        province: "California"
        locality: "San Francisco"
    firewall_management:
      enabled: false
      background_job_config:
        sync_interval: "5m"
        expiration_interval: "1h"
      aliases: []
        # Example aliases configuration:
        # - name: "Database"
        #   uuid: "c0daef37-718c-40e4-bb2b-ba5aab418d0d"
        #   description: "PostgreSQL Database Access"
        #   max_ips_per_user: 5
        #   max_total_ips: 100
        #   default_ttl: null
        #   auth_group: "conduit:firewall:database_access"
        # - name: "VPNUsers"
        #   uuid: "7f93ff45-6c60-4a21-9767-3fc246f4d335"
        #   description: "VPN Access"
        #   max_ips_per_user: 3
        #   max_total_ips: 50
        #   default_ttl: "720h"
        #   auth_group: "conduit:firewall:vpn_access"

  log:
    level: "info"
    format: "text"

  cors:
    allowed_origins:
      - "https://crowleybrynn.com/api/auth/callback"
      - "https://www.crowleybrynn.com/api/auth/callback"
    allowCredentials: true
    maxAge: 300

  session:
    store: "redis"
    duration_source: "oidc_tokens"
    secure: false

  cache:
    type: "redis"

  authorization:
    group_scopes:
      conduit:mtls:admin:
        - "mtls:request:cert"
        - "mtls:read:all_certs"
        - "mtls:read:cert"
        - "mtls:approve:cert"
        - "mtls:renew:cert"
        - "mtls:revoke:cert"
        - "mtls:download:all_certs"
        - "mtls:download:cert"
        - "mtls:auto_approve:cert"
      conduit:mtls:user:
        - "mtls:request:cert"
        - "mtls:read:cert"
        - "mtls:renew:cert"
        - "mtls:download:cert"
      conduit:firewall:admin:
        - "firewall:read:own"
        - "firewall:request:own"
        - "firewall:revoke:own"
        - "firewall:read:all"
        - "firewall:revoke:all"
        - "firewall:blacklist"
      conduit:firewall:database_access:
        - "firewall:read:own"
        - "firewall:request:own"
        - "firewall:revoke:own"
      conduit:firewall:vpn_access:
        - "firewall:read:own"
        - "firewall:request:own"
        - "firewall:revoke:own"

  oidc:
    scopes:
      - "openid"
      - "profile"
      - "email"
      - "groups"

  data:
    queries:
      - name: "up"
        query: 'up{source="kubernetes", app!="", component!=""}'
        ttl: "10m"
      - name: "node_status"
        query: 'kube_node_status_condition{condition="Ready",status="true"}'
        ttl: "10m"
      - name: "pods_running_per_namespace"
        query: 'count by (namespace)(kube_pod_status_phase{phase="Running"})'
        ttl: "10m"

      - name: "traefik_requests_7d_avg"
        query: "sum(rate(traefik_service_requests_total[7d]))"
        type: "range"
        range: "7d"
        step: "1h"
        ttl: "1h"
      - name: "traefik_requests_5m_avg"
        query: "sum(rate(traefik_service_requests_total[5m]))"
        type: "range"
        range: "1h"
        step: "1m"
        ttl: "1m"

      - name: "traefik_requests_total_1h"
        query: "sum(rate(traefik_service_requests_total[5m])) * 60"
        type: "range"
        range: "1h"
        step: "1m"
        ttl: "1m"
      - name: "traefik_requests_total_7d"
        query: "sum(rate(traefik_service_requests_total[1d])) * 3600"
        type: "range"
        range: "7d"
        step: "1h"
        ttl: "1h"

      - name: "total_cluster_cpu_perc_1h"
        query: '100 * (1 - avg(rate(node_cpu_seconds_total{mode="idle"}[5m])))'
        type: "range"
        range: "1h"
        step: "1m"
        ttl: "1m"
      - name: "total_cluster_cpu_perc_7d"
        query: '100 * (1 - avg(rate(node_cpu_seconds_total{mode="idle"}[1d])))'
        type: "range"
        range: "7d"
        step: "1h"
        ttl: "1h"

      - name: "code_400_average_1day"
        disabled: true
        query: 'sum(rate(traefik_service_requests_total{code=~"4.."}[1h])) / sum(rate(traefik_service_requests_total[1h])) * 100'
        type: "range"
        range: "1d"
        step: "1h"
        ttl: "1h"
      - name: "code_500_average_1day"
        disabled: true
        query: 'sum(rate(traefik_service_requests_total{code=~"5.."}[1h])) / sum(rate(traefik_service_requests_total[1h])) * 100'
        type: "range"
        range: "1d"
        step: "1h"
        ttl: "1h"
      - name: "total_cluster_memory_perc_1h"
        disabled: true
        query: "100 * (1 - sum(node_memory_MemAvailable_bytes) / sum(node_memory_MemTotal_bytes))"
        type: "range"
        range: "1h"
        step: "1m"
        ttl: "1m"
      - name: "total_cluster_memory_perc_7d"
        disabled: true
        query: "100 * (1 - sum(node_memory_MemAvailable_bytes) / sum(node_memory_MemTotal_bytes))"
        type: "range"
        range: "7d"
        step: "1h"
        ttl: "1h"
      - name: "pod_restarts_last_1h"
        disabled: true
        query: "increase(kube_pod_container_status_restarts_total[1h])"
        ttl: "1m"
