name: 'Testing and Test Coverage'
on:
  pull_request: {}
  push:
    branches:
      - 'main'
permissions:
  contents: 'read'
jobs:
  cover:
    name: 'Coverage'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: 'audit'
      - name: 'Set up Go'
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25
      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: 'Get Dependencies'
        run: |
          go get -v -t -d ./...
      - name: 'Test'
        run: |
          go test -coverprofile=coverage.txt -v ./...
      - name: 'Coverage'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    name: 'Build'
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        go:
          - '1.25'
      fail-fast: false
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: 'audit'
      - name: 'Set up Go ${{ matrix.go }}'
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go }}
      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: 'Get Dependencies'
        run: |
          go get -v -t -d ./...
      - name: 'Build'
        run: |
          go build -v ./...
      - name: 'Test'
        run: |
          go test -v ./...