name: Cleanup Old Package Versions

on:
  #schedule:
  #  - cron: '0 2 * * *'  # Daily at 2 AM
  workflow_dispatch:

permissions:
  packages: write

jobs:
  cleanup-untagged:
    name: Delete all untagged versions
    runs-on: ubuntu-latest
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: 'audit'

      - name: Delete untagged versions
        uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5.0.0
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: 'container'
          delete-only-untagged-versions: 'true'
          token: ${{ secrets.GITHUB_TOKEN }}

  cleanup-old-shas:
    name: Delete old SHA tags (keep last 30)
    runs-on: ubuntu-latest
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: 'audit'
      - name: Delete old SHA versions
        uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5.0.0
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: 'container'
          min-versions-to-keep: 30
          ignore-versions: '^(main|prod|latest)$'
          token: ${{ secrets.GITHUB_TOKEN }}
